<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% for (var key in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet">
  <% } %>
  <title>Rise Client</title>
</head>
<body>
  <div id="root">RISE CLIENT</div>
  <% for (var key in htmlWebpackPlugin.files.js) { %>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[key] %>">
  <% } %>
</body>
</html>
